@charset "UTF-8";

body{
    background-color: rgb(255, 237, 214);
}

h1{
    color: rgb(255, 255, 255);
}

#principal{
    text-align: center;
    background-color: rgb(16, 129, 129) ;
    color: rgb(255, 255, 255);
}

h2{
    color: rgb(11, 128, 128);
}
p{
    color: rgb(38, 77, 64);
}

.basico{
    color: rgb(9, 163, 9);
}
.intermediario{
    color: rgb(202, 202, 42);
}
.avançado{
    color: red;
}
.destaque{
    background-color:rgb(73, 201, 201);
}